**/.idea
**/.vs
**/bin
**/obj
# игнорировать кэш-файлы.
__pycache__/
*.pyc
*.pyo

# игнорировать файлы, содержащие логи.
*.log

# игнорировать файл настроек окружения.
.env

# игнорировать файл с настройками IDE.
.idea/

# игнорировать файлы с локальными настройками проекта.
*.sqlite3
*.db
*.db.sqlite3

# игнорировать временные файлы.
*.bak
*.swp